<!DOCTYPE html>

<html>

    <head>
        <title>Add Event</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/w3.css">
    </head>

    <body>

        <!-- BEGIN PAGE TITLE -->
        <div class="w3-container w3-teal">
            <h1 style=text-align:center>Add Event</h1>
        </div>
        <!-- END PAGE TITLE -->

		<div class="w3-container w3-margin-left">
    		<!-- BEGIN UPLOAD FORM -->
			<form action="/flow/add_event/" method="post" enctype="multipart/form-data" data-ajax="false">
    			{% csrf_token %}
    			{{ form.as_p}}
    			<input type="submit" value="Submit" />
			</form>
			<!-- END UPLOAD FORM -->
		</div>

	</body>

</html>